@use '../abstracts/abstracts' as *;

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font: var(--font-gilroy-regular-14);
  min-height: 100%;
  min-width: 320px;
  background-color: var(--white-1);
  color: var(--black-1);
  font-optical-sizing: auto;
  overflow-x: hidden;
  background-size: cover;
}
