@use '@/shared/styles/abstracts/abstracts' as *;

.filter-btn {
  padding: 7px 10px;
  border-radius: 8px;
  background-color: transparent;
  font: var(--font-gilroy-bold-16);
  border: none;
  color: var(--dark-blue);
  transition: 0.2s;

  &_active {
    background-color: var(--dark-blue);
    color: var(--neutral-00);
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    flex: none;
    width: 24px;
    height: 24px;

    > svg,
    > img {
      @include contain-object;
    }
  }
}
