@use '@/shared/styles/abstracts/abstracts' as *;

.search-panel {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__title-block {
    display: flex;
    gap: 14px;
    align-items: baseline;
  }

  &__title {
    color: var(--dark-blue);
    font: var(--font-gilroy-bold-24);
    margin: 0;
  }

  &__total {
    color: var(--neutral-60);
    font: var(--font-gilroy-medium-14);
    margin: 0;
  }

  &__filter-btn {
    display: none;
  }

  &__filter-wrapper {
    display: none;
  }

  @media (max-width: $point-md) {
    &__title-block {
      width: 100%;
      max-width: 100%;
      order: 1;
    }

    &__filter-btn {
      display: inline-flex;
    }

    &__filter-wrapper {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
}
