@use '@/shared/styles/abstracts/abstracts' as *;

.secondary-banner {
  &__box {
    background:
      url(img/img.png) no-repeat 91% bottom/auto 100%,
      url(img/bg.png) no-repeat center/cover;

    border-radius: 20px;
  }

  &__main {
    padding: 64px 0 56px;
    max-width: 480px;
    margin-left: calc(85px / 1180px * 100%);
  }

  &__title {
    margin: 0;
    font: 700 52px/60px var(--ff-gilroy);
    color: var(--dark-blue-80);
    text-transform: capitalize;

    > span {
      font: var(--font-gilroy-bold-36);
    }
  }

  &__title-icon {
    margin-left: 0.1em;
    width: 0.8em;
    height: 0.8em;
  }

  &__text {
    font: var(--font-gilroy-medium-12);
    margin-bottom: 38px;
    color: var(--neutral-80);
  }

  &__buttons {
    display: grid;
    grid-template-columns: minmax(max-content, 163px) max-content;
    gap: 22px;
  }

  @media (max-width: $point-md) {
    &__box {
      display: flex;
      justify-content: center;
      background: url(img/bg.png) no-repeat center/cover;
    }

    &__main {
      text-align: center;
      padding: 32px var(--container-py);
      margin-left: initial;
    }

    &__title {
      margin: 0 0 12px;
      font: var(--font-gilroy-bold-36);
      line-height: 1.2;

      > span {
        font: var(--font-gilroy-bold-24);
      }
    }

    &__buttons {
      justify-content: center;
      gap: 17px;
    }
  }
}
